 html {
   background-color:rgb(08,32,54);
width:0 auto;
margin:0 auto;
   border: 2px solid black;
}

 body {
   background-color:rgb(08,32,54);
   opacity:0.6;
  font-family: 'Noto Sans JP', sans-serif;
 background-image:url("https://imgur.com/t/wallpaper/v2wtzJl");
}
/* place an image in the background here*/
 h1 {
   font-family: 'Festive', cursive;
   font-size:100px;
   text-align:center;
   text-decoration:underline;
   margin:0 auto;
   vertical-align:middle;
   border: 5px solid black;
  /*fix*/
  }

h6 {
font-size:40px;
text-align:center;
text-transform:uppercase;
margin: 40px;
padding:40px;
 }

p{
  font-size:30px;
 text-align:center;
  position:relative;
}
img {
  display:inline-block;
margin: 0 auto;
  border:5px;
 border: 2px solid black;}

header {
  background-color:rgb(08,32,54);
position:relative;
}

nav li{
  display:inline-block;
  font-size:20px;
  padding:0 auto;
  text-transform:uppercase;
  margin:0 auto;
  }

/*fix padding around title box, buttons allign text to center, link buttons to the sections on the page, fix color of the buttons*/

/*center all information*/

#about{
  text-align:center;
}

#work{
  text-align:center;
}

table, th, td {
  border: 1px solid black;
  text-align:center
width:100%}

#costs  
{
 text-align:center;
  display:block;
  margin-left:0 auto;
  margin-right:0 auto;
  padding:350px;
}

#contact {
  text-align:center;
}
copyright{
  text-decoration:uppercase;
}

